<!doctype html>
<html lang="en" class="fullscreen-bg">

<head>
  <title>CrystalHills | Goinvoice</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <!-- VENDOR CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/linearicons.css">

  <!-- MAIN CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <link rel="stylesheet" href="/plugins/magnific-popup/css/magnific-popup.css" />
  <link rel="stylesheet" href="/plugins/jquery-datatables-editable/datatables.css" />


  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
  <!-- ICONS -->
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.png">
</head>

<body>
  <!-- WRAPPER -->
  <div id="wrapper">
  
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="brand">
        <a href="/home">
          <img src="/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo">
        </a>
      </div>
      <div class="container-fluid">
        <div class="navbar-btn">
          <button type="button" class="btn-toggle-fullwidth">
            <i class="lnr lnr-arrow-left-circle"></i>
          </button>
        </div>
    
        <div id="navbar-menu">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="/img/user.png" class="img-circle" alt="Avatar">
                <span>{{user.email}}</span>
                <i class="icon-submenu lnr lnr-chevron-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/profile">
                    <i class="lnr lnr-user"></i>
                    <span>My Profile</span>
                  </a>
                </li>
                <li>
                  <a href="/">
                    <i class="lnr lnr-exit"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END NAVBAR -->
  
    <!-- MAIN -->
    <div class="main">
  
      <!-- MAIN CONTENT -->
      <div class="main-content">
        <div class="container-fluid">
        
          {{{body}}}
  
        </div>
      </div>
      <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
  
    <div class="clearfix"></div>
    {{!-- <footer>
      <div class="container-fluid">
        <p class="copyright">&copy; 2017
          <a href="https://www.crystalhills.org/" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
      </div>
    </footer> --}}
  </div>
  <!-- END WRAPPER -->
  <script>
    var resizefunc = [];
  </script>
  
  <!-- jQuery  -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/fastclick.js"></script>
  
  <!-- Examples -->
  <script src="/plugins/magnific-popup/js/jquery.magnific-popup.min.js"></script>
  <script src="/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
  <script src="/plugins/datatables/dataTables.bootstrap.js"></script>
  <script src="/plugins/tiny-editable/numeric-input-example.js"></script>
  <script src="/plugins/tiny-editable/mindmup-editabletable.js"></script>
  
  
  <script src="/assets/pages/jquery.datatables.editable.init.js"></script>
  <script src="/js/klorofil-common.js"></script>
  <script>
    $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
  </script>
            
</body>        
</html>