<div class="row">
    <div class="col-md-7">
        <!-- TODO LIST -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">To-Do List</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse">
                        <i class="lnr lnr-chevron-up"></i>
                    </button>
                    <button type="button" class="btn-remove">
                        <i class="lnr lnr-cross"></i>
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled todo-list">
                    <li>
                        <label class="control-inline fancy-checkbox">
                            <input type="checkbox">
                            <span></span>
                        </label>
                        <p>
                            <span class="title">Restart Server</span>
                            <span class="short-description">Dynamically integrate client-centric technologies without cooperative resources.</span>
                            <span class="date">Oct 9, 2016</span>
                        </p>
                        <div class="controls">
                            <a href="#">
                                <i class="icon-software icon-software-pencil"></i>
                            </a>
                            <a href="#">
                                <i class="icon-arrows icon-arrows-circle-remove"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <label class="control-inline fancy-checkbox">
                            <input type="checkbox">
                            <span></span>
                        </label>
                        <p>
                            <span class="title">Retest Upload Scenario</span>
                            <span class="short-description">Compellingly implement clicks-and-mortar relationships without highly efficient metrics.</span>
                            <span class="date">Oct 23, 2016</span>
                        </p>
                        <div class="controls">
                            <a href="#">
                                <i class="icon-software icon-software-pencil"></i>
                            </a>
                            <a href="#">
                                <i class="icon-arrows icon-arrows-circle-remove"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <label class="control-inline fancy-checkbox">
                            <input type="checkbox">
                            <span></span>
                        </label>
                        <p>
                            <strong>Functional Spec Meeting</strong>
                            <span class="short-description">Monotonectally formulate client-focused core competencies after parallel web-readiness.</span>
                            <span class="date">Oct 11, 2016</span>
                        </p>
                        <div class="controls">
                            <a href="#">
                                <i class="icon-software icon-software-pencil"></i>
                            </a>
                            <a href="#">
                                <i class="icon-arrows icon-arrows-circle-remove"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END TODO LIST -->
    </div>
    <div class="col-md-5">
        <!-- TIMELINE -->
        <div class="panel panel-scrolling">
            <div class="panel-heading">
                <h3 class="panel-title">Recent User Activity</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse">
                        <i class="lnr lnr-chevron-up"></i>
                    </button>
                    <button type="button" class="btn-remove">
                        <i class="lnr lnr-cross"></i>
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled activity-list">
                    <li>
                        <img src="assets/img/user1.png" alt="Avatar" class="img-circle pull-left avatar">
                        <p>
                            <a href="#">Michael</a> has achieved 80% of his completed tasks
                            <span class="timestamp">20 minutes ago</span>
                        </p>
                    </li>
                    <li>
                        <img src="assets/img/user2.png" alt="Avatar" class="img-circle pull-left avatar">
                        <p>
                            <a href="#">Daniel</a> has been added as a team member to project
                            <a href="#">System Update</a>
                            <span class="timestamp">Yesterday</span>
                        </p>
                    </li>
                    <li>
                        <img src="assets/img/user3.png" alt="Avatar" class="img-circle pull-left avatar">
                        <p>
                            <a href="#">Martha</a> created a new heatmap view
                            <a href="#">Landing Page</a>
                            <span class="timestamp">2 days ago</span>
                        </p>
                    </li>
                    <li>
                        <img src="assets/img/user4.png" alt="Avatar" class="img-circle pull-left avatar">
                        <p>
                            <a href="#">Jane</a> has completed all of the tasks
                            <span class="timestamp">2 days ago</span>
                        </p>
                    </li>
                    <li>
                        <img src="assets/img/user5.png" alt="Avatar" class="img-circle pull-left avatar">
                        <p>
                            <a href="#">Jason</a> started a discussion about
                            <a href="#">Weekly Meeting</a>
                            <span class="timestamp">3 days ago</span>
                        </p>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary btn-bottom center-block">Load More</button>
            </div>
        </div>
        <!-- END TIMELINE -->
    </div>
</div>
