<h2 class="page-header text-center">Account Login</h2>
<div class="col-md-12">
  <div class="col-md-7 col-md-offset-3">
    <form method="post" action="/login">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-success col-md-offset-5">Submit</button>
    </form>
  </div>
</div>