<!doctype html>
<html lang="en" class="fullscreen-bg">

<head>
  <title>Register | CrystalHills Goinvoice</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <!-- VENDOR CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/linearicons.css">

  <!-- MAIN CSS -->
  <link rel="stylesheet" href="/css/main.css">

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">

  <!-- ICONS -->
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.png">
</head>

<body>
  <!-- WRAPPER -->
  <div id="wrapper">

    <div class="vertical-align-wrap height-refix">
      <div class="vertical-align-middle">
        <div class="auth-box lockscreen clearfix">
          <div class="content">
            <h1 class="sr-only">Sign Up Page</h1>
            <div class="logo text-center">
              <img src="/img/logo-dark.png" alt="Klorofil Logo">
            </div>
            <div class="user text-center">
              <h2 class="name">Sign Up For Free </h2>
            </div>
          <form class="form-auth-small" method="post" action="/register">
            {{#if errors}} {{#each errors}}
            <div class="alert alert-danger">{{msg}}</div>
            {{/each}} {{/if}}
            <div class="form-group">
              <label for="signin-email" class="control-label sr-only">Company Name</label>
              <input type="text" class="form-control" name="companyname" placeholder="Company Name">
            </div>
            <div class="form-group">
              <label for="signin-email" class="control-label sr-only">Company Address</label>
              <textarea class="form-control" name="companyaddress" placeholder="Company Address"></textarea>
            </div>
            <div class="form-group">
              <label for="signin-email" class="control-label sr-only">Username</label>
              <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="signin-email" class="control-label sr-only">Email</label>
              <input type="text" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="signin-password" class="control-label sr-only">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="signin-password" class="control-label sr-only">Confirm Password</label>
              <input type="password" class="form-control" name="password2" placeholder="Confirm Password">
            </div>
            <div class="form-group clearfix">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block register-refix">REGISTER</button> 
            <i class="fa fa-arrow-left" style="color:#00a0f0;"></i>
            <a href="/">Back To Login</a>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END WRAPPER -->

</body>

</html>